.cards {
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: 24em;
  max-width: 55em;
  margin-top: 1em;
  margin-bottom: 8em;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 28px;
  gap: 10px;
  box-shadow: 0 4px 12px purple;
  width: 100%;
  height: 100%; /* Ensure all cards are same height */
}

.card-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  gap: 0.8em;
}

.card-container-description {
  font-size: 0.6em;
  display: flex;
}

.card-container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  margin-top: auto;
  margin-bottom: 20px;
}

.card-container-button:hover {
  transform: translateY(-10px);
}
.card-container button {
  cursor: pointer;

  padding: 1em 2.7em;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #aa3bff;
}
/* Mobile: Single column stack */
@media (max-width: 768px) {
  .cards {
    margin: 1em;
    flex-direction: column;
  }
}
