.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: full;
}

h1 {
  font-family: monospace;
  font-weight: 500;
}

.hero-text {
  background: linear-gradient(
    90deg,
    #ff33b4,
    #7319fa,
    #ae0996
  ); /* Your colors */
  -webkit-background-clip: text; /* Clips background to text */
  background-clip: text;
  color: transparent; /* Makes original text transparent to see gradient */
  font-family: monospace;
  font-weight: 600;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.banner a {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}
.nav li {
  padding: 10px;
}

.nav a {
  position: relative;
  display: inline-block;
  padding: 0px var(--link-underline-padding);
  text-decoration: none;
  color: rgb(156, 163, 175);
}

.nav a:after {
  position: absolute;
  left: 0px;
  background-color: rgb(161, 73, 228);
  content: "";
  color: rgb(161, 73, 228);
  display: block;
  height: 0.1em;
  margin-top: 0.2em;
  transition: width 0.5s;
  width: 0;
}

.nav a:hover {
  cursor: pointer;
}
.nav a:hover:after {
  width: 100%;
}
