.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: full;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-family: monospace;
  font-weight: 500;
}

.hero-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  margin-bottom: 15em;
}
.lottie-animation {
  width: 30em;
  height: 30em;
}
.hero-separator{
  margin-top: 0.2em;
  width: 8.5em;
  height: 1px;
  background-color: #2875bd;
}
.hero-sub-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.hero-text {
  background: linear-gradient(
    90deg,
    #ff33b4,
    #7319fa,
    #ae0996
  ); /* Your colors */
  -webkit-background-clip: text; /* Clips background to text */
  background-clip: text;
  color: transparent; /* Makes original text transparent to see gradient */
  font-family: monospace;
  font-weight: 600;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.banner a {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}
.nav li {
  padding: 10px;
}

.nav a {
  position: relative;
  display: inline-block;
  padding: 0px var(--link-underline-padding);
  text-decoration: none;
  color: rgb(156, 163, 175);
}

.nav a:after {
  position: absolute;
  left: 0px;
  background-color: #2875bd;
  content: "";
  color: rgb(161, 73, 228);
  display: block;
  height: 0.1em;
  margin-top: 0.2em;
  transition: width 0.5s;
  width: 0;
}

.nav a:hover {
  cursor: pointer;
}
.nav a:hover:after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav ul {
    margin-top: 0;
    flex-direction: column;
  }
  .hero-text{
    display: flex;
    flex-direction:column;
    padding-top: 0.6em;
  }

}
